{% extends 'Library-App/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add Book
{% endblock title %}
{% block content %}
<br><br>
<div class="container">
    <div class="card float-center">
        <h5 class="card-header">Add Books</h5>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% crispy form %}
            {% csrf_token %}
            <input type="submit" name="submit" value="Add Books" class="btn btn-primary btn-sm">
            </form>
        </div>
    </div>
<br><br>
</div>
{% endblock %}